@font-face {
  font-family: "Lovelo";
  src: url("//db.onlinewebfonts.com/t/980a524883ee7f294ec3ab75100e2abf.eot");
  src: url("//db.onlinewebfonts.com/t/980a524883ee7f294ec3ab75100e2abf.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/980a524883ee7f294ec3ab75100e2abf.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/980a524883ee7f294ec3ab75100e2abf.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/980a524883ee7f294ec3ab75100e2abf.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/980a524883ee7f294ec3ab75100e2abf.svg#Lovelo")
      format("svg");
}
header {
  background-color: #262626;
  text-decoration: none;
  color: #262626;
  height: 180px;
  width: 100%;
}
header li {
  color: #262626;
}
header a:hover,
.game-genre a:hover {
  color: #ff9649;
}
header img {
  height: 150px;
  position: relative;
  top: 20px;
  left: 20px;
}
header a {
  color: #fff;
}
.nav-top {
  display: flex;
  width: 1000px;
  justify-content: space-around;
  position: relative;
  top: -120px;
  right: -300px;
}
.top-menu {
  font-family: "Lovelo", Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  font-size: 35px;
}
.fakestation-ad {
  height: 500px;
  width: 850px;
  position: relative;
  left: 350px;
  top: 40px;
}
nav a {
  text-decoration: none;
}
.game-page {
  font-family: "Lovelo", Verdana, Geneva, Tahoma, sans-serif;
  font-size: 35px;
  text-align: center;
}
.game-list {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(3, 1fr);
  width: 850px;
  position: relative;
  left: 320px;
}
.game ul {
  color: white;
  text-align: center;
}
.game img {
  height: 200px;
  width: 163px;
}
.game a {
  font-family: montserrat, Verdana, Geneva, Tahoma, sans-serif;
  text-decoration: none;
  color: #262626;
}
.game-genre {
  position: relative;
  top: -1250px;
  font-family: "Lovelo", Verdana, Geneva, Tahoma, sans-serif;
  font-size: 35px;
  font-weight: bold;
}
.game-genre a {
  text-decoration: none;
  color: #262626;
}
.game-genre ul,
li {
  color: #fff;
  margin-top: 60px;
}
.vl {
  border-left: 2px solid #262626;
  height: 1800px;
  position: relative;
  left: 320px;
  margin-left: -3px;
  top: -1800px;
}
.upcoming {
  display: flex;
  margin-top: 60px;
  gap: 60px;
}
h2 {
  font-family: "lovelo";
}
.upcoming img {
  height: 180px;
}
.register_background {
  height: 231px;
  width: 850px;
  position: relative;
  left: 350px;
  top: 50px;
}
.cta_register a {
  color: #fff;
  text-decoration: none;
  font-family: lovelo;
  font-size: 40px;
  position: relative;
  top: -30px;
  left: 600px;
}
