* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Mobile view */

@media screen and (max-width: 767px) {
  main {
    width: 100vw;
  }

  .main-header {
  }
  /* Global */
  .logo {
    position: relative;
    left: 70px;
    padding-top: 20px;
    z-index: 2;
  }

  .nav-links {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 10rem 0;
    width: 100vw;
    height: 100vh;
    font-size: 2rem;
    background: #262626;
    color: #fff;
    transition: opacity 0.4s 0.2s, clip-path 0.5s 0.2s;
    clip-path: circle(200px at top right);
  }

  .menu-btn:checked ~ .nav-links {
    opacity: 1;
    clip-path: circle(100% at center);
  }

  footer {
    color: #fff;
    text-align: center;
  }

  .cart__img {
    height: 25px;
    position: absolute;
    left: 330px;
    z-index: 2;
  }

  .cart,
  #add-to-cart {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    align-items: center;
    padding: 10rem 0;
    width: 100vw;
    height: 100vh;
    font-size: 2rem;
    background: #262626;
    color: #fff;
    text-align: center;
    transition: opacity 0.4s 0.2s, clip-path 0.5s 0.2s;
    clip-path: circle(200px at top right);
  }

  .cart h3 {
    font-size: 30px;
  }

  .cart p {
    position: relative;
    top: 150px;
  }

  .cart a {
    position: relative;
    top: 400px;
    font-size: 30px;
  }

  #checkout {
    text-decoration: underline #ff9649;
    color: #ff9649;
  }

  #add-to-cart:checked ~ .cart {
    opacity: 1;
    clip-path: circle(100% at center);
  }

  /* Homepage */

  .header-img__img {
    height: 220px;
    width: 350px;
    margin-top: 20px;
  }

  .flex-container__products {
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    position: relative;
    top: 200px;
    text-transform: uppercase;
  }

  .flex-container__releases {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: 190px;
    text-transform: uppercase;
  }

  .flex-container__releases a {
    color: #262626;
  }

  .product h3 {
    display: none;
  }

  .product p {
    font-size: 15px;
  }

  .product img {
    height: 90px;
    position: relative;
    left: 5px;
  }

  .game-news h2 {
    position: absolute;
    top: 660px;
    left: 50px;
    color: #262626;
    text-transform: uppercase;
    width: 250px;
    height: 40px;
    text-align: center;
    text-decoration: underline #ff9649;
  }

  .game-news__story {
    display: none;
  }

  .advert {
    position: absolute;
    top: 800px;
  }

  .advert img {
    width: 100vw;
    max-height: 150px;
    object-fit: cover;
    object-position: bottom;
  }

  .cta-register {
    position: absolute;
    top: 720px;
    left: 50px;
    font-size: 13px;
    text-align: center;
    background-color: #262626;
    color: #fff;
    text-transform: uppercase;
    padding: 10px 30px;
  }

  .cta-register__btn {
    color: #fff;
    text-decoration: none;
    font-size: 25px;
    position: relative;
    top: 5px;
    border: 2px solid #ff9649;
    border-radius: 5px;
  }

  /* Gamepage */

  .genre-title {
    position: absolute;
    top: 120px;
    left: 100px;
    color: #262626;
    text-transform: uppercase;
  }

  .genre-list {
    position: relative;
    display: flex;
    top: 160px;
    left: 0px;
    max-width: 700px;
    font-size: 13px;
  }

  .genre-list a {
    position: relative;
    top: 5px;
    color: #ff9649;
    text-decoration: none;
    background-color: #262626;
    padding: 5px;
    margin: 5px;
  }

  .product__list {
    position: relative;
    left: 80px;
    top: 160px;
    display: flex;
    flex-direction: column;
    max-width: 200px;
    max-height: auto;
    text-align: center;
  }
  .game img {
    max-width: 150px;
    margin: 10px 0;
  }
  .game {
    margin: 10px 0;
  }

  /* Contact us */

  .contact-us {
    position: relative;
    top: 150px;
    font-size: 15px;
  }

  .contact-us p {
    margin: 10px 0;
    position: relative;
    left: 20px;
  }

  .contact-us h1,
  h2 {
    text-decoration: underline #ff9649;
    color: #262626;
    position: relative;
    left: 10px;
  }

  .contact-us img {
    max-width: 190px;
  }

  .map {
    position: relative;
    top: 250px;
  }

  .pointer {
    position: absolute;
    top: 100px;
    left: 250px;
  }
}
/* PC, Pad View */
@media screen and (min-width: 767px) {
  /* Global */
  .menu-icon {
    display: none;
  }

  .main-header {
    height: 65px;
  }

  .nav-links {
    position: relative;
    top: 30px;
  }

  .nav-link {
    margin-left: 60px;
  }

  .cart__img {
    height: 30px;
    position: absolute;
    top: 70px;
    left: 1450px;
  }

  #add-to-cart,
  .cart {
    display: none;
  }

  label:hover {
    cursor: pointer;
  }

  .cart {
    background-color: #262626;
    position: fixed;
    top: 120px;
    left: 1300px;
    padding: 10px;
    height: 700px;
    text-align: center;
    text-transform: uppercase;
  }

  .cart p {
    position: relative;
    top: 200px;
  }

  .cart a {
    position: relative;
    top: 500px;
  }

  #checkout {
    text-decoration: underline #ff9649;
  }

  .cart a:hover {
    color: #ff9649;
  }

  #add-to-cart:checked ~ .cart {
    display: block;
  }

  footer {
    color: #fff;
    text-align: center;
  }

  /* Home page */

  @media screen and (max-width: 1450px) {
    .game-news__story {
      opacity: 0;
      transition: opacity 0.3s 0.1s ease-in-out;
    }
  }

  @media screen and (max-width: 1100px) {
    .game-news__title {
      opacity: 0;
      transition: opacity 0.3s 0.1s ease-in-out;
    }
  }

  .header-img {
    position: absolute;
    top: 150px;
    text-align: center;
    text-transform: uppercase;
  }

  .header-img__img {
    max-height: 400px;
    max-width: 700px;
  }

  .flex-container__releases {
    position: relative;
    top: 170px;
    left: 410px;
    display: flex;
    max-width: 700px;
    justify-content: space-between;
    text-transform: uppercase;
    align-items: center;
  }

  .flex-container__releases a {
    color: #262626;
  }

  .flex-container__releases a:hover {
    color: #ff9649;
  }

  .flex-container__products {
    display: flex;
    margin: auto;
    justify-content: space-evenly;
    padding-left: 10px;
    width: 700px;
    position: relative;
    top: 180px;
  }

  .product {
    text-align: center;
    text-transform: uppercase;
    border: 1px solid grey;
    height: 230px;
    width: 160px;
    padding-top: 10px;
  }

  .product p {
    font-size: 12px;
    font-weight: bold;
    margin-top: 10px;
  }

  .product img {
    height: 150px;
  }

  .game-news {
    position: absolute;
    top: 150px;
    padding-left: 20px;
  }

  .game-news h2 {
    text-align: center;
    text-transform: uppercase;
    color: #262626;
    text-decoration: underline #ff9649;
  }

  .game-news h2:hover {
    color: #ff9649;
  }

  .game-news__story {
    margin-top: 40px;
    max-width: 330px;
  }

  .game-news__story img {
    height: 190px;
    width: 330px;
  }

  .advert {
    position: absolute;
    left: 1150px;
    top: 180px;
  }

  .advert img {
    width: 350px;
    height: 700px;
  }

  .cta-register {
    position: absolute;
    top: 930px;
    left: 520px;
    text-align: center;
    background: #262626;
    padding: 40px 70px;
    border-radius: 20px;
    text-transform: uppercase;
    color: #fff;
  }

  .cta-register h2 {
    position: relative;
    bottom: 20px;
    font-size: 30px;
  }

  .cta-register__btn {
    position: relative;
    top: 10px;
    font-size: 30px;
    color: #fff;
    text-decoration: none;
    border: 2px solid #fff;
    border-radius: 10px;
  }

  .cta-register__btn:hover {
    color: #ff9649;
    border: 2px solid #ff9649;
    border-radius: 10px;
    padding: 10px;
  }

  /* Games Page */

  .genre-title {
    position: absolute;
    top: 200px;
    left: 50%;
    text-transform: uppercase;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: underline #ff9649;
  }

  .genre-list {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: absolute;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    text-decoration: ;
    top: 300px;
    height: 500px;
    width: 400px;
  }

  .genre-list a {
    text-decoration: none;
    color: #262626;
    text-transform: uppercase;
    text-align: center;
  }

  .genre-list a:hover {
    color: #ff9649;
  }

  #genre-list__acitve {
    text-decoration: underline #ff9649;
  }

  .product__list {
    min-height: 900px;
    max-width: 1000px;
    display: grid;
    grid-template-columns: 20% 20% 20%;
    justify-content: space-evenly;
    position: relative;
    left: 300px;
    top: 300px;
    text-align: center;
  }
  .game {
    margin: 20px 0;
  }
  .product__list img {
    max-width: 150px;
  }

  /* Contact */

  .contact-us {
    position: relative;
    top: 250px;
    left: 100px;
    font-size: 25px;
  }

  .contact-us p {
    margin: 40px 0;
  }

  .contact-us h1,
  h2 {
    text-transform: uppercase;
    text-decoration: underline #ff9649;
    color: #262626;
  }
  .contact-us h2 {
    font-size: 20px;
  }

  .contact-us img {
    max-height: 300px;
  }

  .map {
    position: absolute;
    top: 300px;
    left: 800px;
  }

  .pointer {
    position: absolute;
    top: 100px;
    left: 250px;
  }
}

/* Header and navigation */
#active__site {
  text-decoration: underline 2px #ff9649;
}

.main-header {
  position: fixed;
  display: flex;
  align-items: center;
  height: 120px;
  width: 100vw;
  padding: 0 10vw;
  color: #fff;
  z-index: 1;
  background-color: #262626;
}

.main-header a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
}

.nav-links {
  display: flex;
  list-style: none;
}

.nav-link a {
  margin: 70px;
  font-size: 20px;
}

.nav-link a:hover {
  color: #ff9649;
}

.menu-icon {
  position: relative;
  left: 130px;
  top: -35px;
  padding: 26px 10px;
  cursor: pointer;
  z-index: 1;
}

.menu-icon__line {
  display: block;
  position: relative;
  background: #fff;
  height: 2px;
  width: 20px;
  border-radius: 4px;
}

.menu-icon__line::before,
.menu-icon__line::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 4px;
  background: #fff;
}

.menu-icon__line::before {
  transform: translateY(-5px);
}

.menu-icon__line::after {
  transform: translateY(5px);
}

.menu-btn {
  display: none;
}

.logo img {
  height: 100px;
}

.header-img {
  position: relative;
  top: 150px;
  text-align: center;
  font-size: 15px;
  text-transform: uppercase;
}

footer {
  background: #262626;
  height: 80px;
  position: relative;
  top: 500px;
}
