* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Mobile view */

@media screen and (max-width: 767px) {
  main {
    width: 100vw;
  }

  /* Global */
  .logo {
    position: relative;
    left: 70px;
    padding-top: 20px;
    z-index: 2;
  }

  .nav-links {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 10rem 0;
    width: 100vw;
    height: 100vh;
    font-size: 2rem;
    background: #262626;
    color: #fff;
    transition: opacity 0.4s 0.2s, clip-path 0.5s 0.2s;
    clip-path: circle(200px at top right);
  }

  .menu-btn:checked ~ .nav-links {
    opacity: 1;
    clip-path: circle(100% at center);
  }

  footer {
    color: #fff;
    text-align: center;
  }

  .cart__img {
    height: 25px;
    position: absolute;
    left: 330px;
    z-index: 2;
  }

  .cart,
  #add-to-cart {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    align-items: center;
    padding: 10rem 0;
    width: 100vw;
    height: 100vh;
    font-size: 2rem;
    background: #262626;
    color: #fff;
    text-align: center;
    transition: opacity 0.4s 0.2s, clip-path 0.5s 0.2s;
    clip-path: circle(200px at top right);
  }

  .cart h3 {
    font-size: 30px;
  }

  .cart p {
    position: relative;
    top: 150px;
  }

  .cart a {
    position: relative;
    top: 400px;
    font-size: 30px;
  }

  #checkout {
    text-decoration: underline #ff9649;
    color: #ff9649;
  }

  #add-to-cart:checked ~ .cart {
    opacity: 1;
    clip-path: circle(100% at center);
  }

  /* Homepage */

  .header-img__img {
    height: 220px;
    width: 350px;
    margin-top: 20px;
  }

  .flex-container__products {
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    position: relative;
    top: 200px;
    text-transform: uppercase;
  }

  .flex-container__releases {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: 190px;
    text-transform: uppercase;
  }

  .flex-container__releases a {
    color: #262626;
  }

  .product h3 {
    display: none;
  }

  .product p {
    font-size: 15px;
  }

  .product img {
    height: 90px;
    position: relative;
    left: 5px;
  }

  .cta-register {
    position: absolute;
    top: 720px;
    left: 50px;
    font-size: 13px;
    text-align: center;
    background-color: #262626;
    color: #fff;
    text-transform: uppercase;
    padding: 10px 30px;
  }

  .cta-register__btn {
    color: #fff;
    text-decoration: none;
    font-size: 25px;
    position: relative;
    top: 5px;
    border: 2px solid #ff9649;
    border-radius: 5px;
  }

  .cta-register h2 {
    color: #fff;
    text-decoration: underline #ff9649;
  }

  /* Gamepage */

  .genre-title {
    position: absolute;
    top: 120px;
    left: 100px;
    color: #262626;
    text-transform: uppercase;
  }

  .genre-list {
    position: relative;
    display: flex;
    top: 160px;
    left: 0px;
    max-width: 700px;
    font-size: 13px;
  }

  .genre-list a {
    position: relative;
    top: 5px;
    color: #ff9649;
    text-decoration: none;
    background-color: #262626;
    padding: 5px;
    margin: 5px;
  }

  .product__list {
    position: relative;
    left: 80px;
    top: 160px;
    display: flex;
    flex-direction: column;
    max-width: 200px;
    max-height: auto;
    text-align: center;
  }
  .game img {
    max-width: 150px;
    margin: 10px 0;
  }
  .game {
    margin: 10px 0;
  }

  .content-result img {
    max-width: 150px;
    margin: 10px 0;
  }

  /* Contact us */

  .contact-us {
    position: relative;
    top: 150px;
    font-size: 15px;
  }

  .contact-us p {
    margin: 10px 0;
    position: relative;
    left: 20px;
  }

  .contact-us h1,
  h2 {
    text-decoration: underline #ff9649;
    color: #262626;
    position: relative;
    left: 10px;
  }

  .contact-us img {
    max-width: 190px;
  }

  .map {
    position: relative;
    top: 250px;
  }

  .pointer {
    position: absolute;
    top: 100px;
    left: 250px;
  }

  /* Login-page */

  .login__window {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 200px;
    height: 350px;
    background-color: #262626;
    border: none;
  }

  .login__title {
    position: relative;
    top: 15px;
    margin: auto;
    color: #fff;
    font-size: 25px;
    text-transform: uppercase;
    text-decoration: underline #ff9649;
  }

  .login__email,
  .login__email__box {
    position: relative;
    top: 30px;
    margin: 0 auto;
    color: #ff9649;
  }

  .login__email__box {
    height: 30px;
    width: 300px;
  }

  .login__password,
  .login__password__box {
    position: relative;
    top: 50px;
    margin: 0 auto;
    color: #ff9649;
  }

  .login__password__box {
    height: 30px;
    width: 300px;
  }

  .cta-login {
    position: relative;
    top: 70px;
    margin: 0 auto;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    border: 3px solid #ff9649;
    border-radius: 5px;
    padding: 10px 30px;
  }

  .register__now {
    position: relative;
    top: 90px;
    margin: 0 auto;
    background-color: #ff9649;
    padding: 10px 30px;
    text-align: center;
  }

  .register__now a {
    position: relative;
    top: 5px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    padding: 0 10px;
    background-color: #262626;
  }

  /* Account */

  .user-info {
    position: relative;
    height: 200px;
    justify-content: space-between;
    top: 200px;
    left: 60px;
  }

  .lvl-txt {
    margin-top: 50px;
  }

  .lvl-bar {
    height: 50px;
    width: 200px;
    background-color: #90ee90;
    border: 2px solid #262626;
  }

  .cta-account {
    position: relative;
    top: 30px;
  }

  .cta-account a {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 250px;
    text-decoration: none;
    background-color: #262626;
    font-size: 20px;
    color: #fff;
    padding: 10px 30px;
    border-radius: 10px;
    margin-top: 20px;
  }

  .cta-account a:hover {
    background-color: #fff;
    border: 3px solid #ff9649;
    color: #262626;
  }

  /* Sell game information */

  .game-information {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 150px;
    height: 700px;
    justify-content: space-evenly;
  }

  .game-information h1 {
    font-size: 35px;
    text-transform: uppercase;
    text-decoration: underline #ff9649;
  }

  .info-bar {
    height: 30px;
    font-size: 25px;
    padding: 0 20px;
    border-radius: 10px;
  }

  .highlight {
    font-weight: bold;
    font-size: 25px;
  }

  .state-label {
    display: flex;
    width: 300px;
    justify-content: space-evenly;
    text-transform: uppercase;
  }

  .cta-submit {
    margin: 50px auto;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 25px;
    background-color: #262626;
    color: #fff;
    padding: 15px 40px;
    border-radius: 10px;
  }

  .game-information {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 150px;
    left: 50px;
    width: 300px;
    height: 600px;
    justify-content: space-evenly;
  }

  .game-information h1 {
    font-size: 35px;
    text-transform: uppercase;
    text-decoration: underline #ff9649;
  }

  .info-bar {
    height: 30px;
    font-size: 25px;
    padding: 0 20px;
    border-radius: 10px;
  }

  .highlight {
    font-weight: bold;
    font-size: 25px;
  }

  .state-label {
    display: flex;
    width: 300px;
    justify-content: space-evenly;
    text-transform: uppercase;
  }

  .cta-submit {
    margin: 30px auto;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 25px;
    background-color: #262626;
    color: #fff;
    padding: 15px 40px;
    border-radius: 10px;
  }

  .cta-submit:hover {
    background-color: #fff;
    border: 3px solid #ff9649;
    color: #262626;
  }

  /* Product site */

  .product-game {
    position: relative;
    top: 200px;
    left: 200px;
  }

  .product-info h1 {
    margin: 20px;
    text-transform: uppercase;
    text-decoration: underline #ff9649;
  }

  .product-img {
    position: relative;
    left: -150px;
    top: -50px;
  }

  .product-info {
    width: 300px;
    position: relative;
    left: 50px;
    top: 150px;
  }

  .added {
    opacity: 0;
    position: fixed;
    top: 150px;
    left: 200px;
    background: #262626;
    color: #fff;
    height: 100px;
    width: 150px;
    transition: opacity 0.4s;
  }

  .added p {
    position: relative;
    top: 40px;
    left: 40px;
  }

  .flex-cta {
    position: relative;
    top: 30px;
  }

  .add2cart-style {
    position: relative;
    top: 10px;
    margin: 30px auto;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 25px;
    background-color: #262626;
    color: #fff;
    padding: 15px 40px;
    border-radius: 10px;
    display: flex;
  }

  #add2cart {
    display: none;
  }

  #add2cart:checked ~ .added {
    opacity: 1;
  }

  /* Game sold */

  .thank-you-for-selling {
    position: relative;
    top: 150px;
  }

  .thank-you-for-selling p {
    margin: 30px 0;
  }

  /* Checkout information */

  .checkout-info {
    position: relative;
    top: 300px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 400px;
    justify-content: space-evenly;
  }

  .checkout-info h1 {
    text-decoration: underline #ff9649;
    text-transform: uppercase;
  }

  .checkout-info a {
    margin: 40px auto;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 25px;
    background-color: #262626;
    color: #fff;
    padding: 15px 40px;
    border-radius: 10px;
  }

  .checkout-info a:hover {
    background-color: #fff;
    border: 3px solid #ff9649;
    color: #262626;
  }

  .products-in-cart {
    position: relative;
    top: 130px;
    color: #fff;
    background: #262626;
    height: 200px;
    width: 500px;
    text-align: center;
  }

  .products-in-cart img {
    height: 70px;
  }

  .products-in-cart h2 {
    color: #fff;
    text-align: center;
    margin-bottom: 10px;
  }

  .total {
    margin-top: 20px;
    text-transform: uppercase;
  }
}

/* PC, Pad View */
@media screen and (min-width: 767px) {
  /* Global */
  .menu-icon {
    display: none;
  }

  .main-header {
    height: 65px;
  }

  .nav-links {
    position: relative;
    top: 30px;
  }

  .nav-link {
    margin-left: 60px;
  }

  .cart__img {
    height: 30px;
    position: absolute;
    top: 70px;
    left: 1450px;
  }

  #add-to-cart,
  .cart {
    opacity: 0;
  }

  label:hover {
    cursor: pointer;
  }

  .cart {
    background-color: #262626;
    position: fixed;
    top: 120px;
    left: 1300px;
    padding: 10px;
    height: 700px;
    text-align: center;
    text-transform: uppercase;
    transition: opacity 0.4s;
  }

  .cart p {
    position: relative;
    top: 200px;
  }

  .cart a {
    position: relative;
    top: 400px;
  }

  #checkout {
    text-decoration: underline #ff9649;
  }

  .cart a:hover {
    color: #ff9649;
  }

  #add-to-cart:checked ~ .cart {
    opacity: 1;
  }

  footer {
    color: #fff;
    text-align: center;
  }

  /* Home page */

  @media screen and (max-width: 1450px) {
    .game-news__story {
      opacity: 0;
      transition: opacity 0.3s 0.1s ease-in-out;
    }
  }

  @media screen and (max-width: 1100px) {
    .game-news__title {
      opacity: 0;
      transition: opacity 0.3s 0.1s ease-in-out;
    }
  }

  .header-img {
    position: absolute;
    top: 150px;
    text-align: center;
    text-transform: uppercase;
  }

  .header-img__img {
    max-height: 400px;
    max-width: 700px;
  }

  .flex-container__releases {
    position: relative;
    top: 170px;
    left: 410px;
    display: flex;
    max-width: 700px;
    justify-content: space-between;
    text-transform: uppercase;
    align-items: center;
  }

  .flex-container__releases a {
    color: #262626;
  }

  .flex-container__releases a:hover {
    color: #ff9649;
  }

  .flex-container__products {
    display: flex;
    margin: auto;
    justify-content: space-evenly;
    padding-left: 10px;
    width: 700px;
    position: relative;
    top: 180px;
  }

  .product {
    text-align: center;
    text-transform: uppercase;
    border: 1px solid grey;
    height: 230px;
    width: 160px;
    padding-top: 10px;
  }

  .product p {
    font-size: 12px;
    font-weight: bold;
    margin-top: 10px;
  }

  .product img {
    height: 150px;
  }

  .cta-register {
    position: absolute;
    top: 930px;
    left: 520px;
    text-align: center;
    background: #262626;
    padding: 40px 70px;
    border-radius: 20px;
    text-transform: uppercase;
    color: #fff;
  }

  .cta-register h2 {
    position: relative;
    bottom: 20px;
    font-size: 30px;
    color: #fff;
    text-decoration: underline #ff9649;
  }

  .cta-register__btn {
    position: relative;
    top: 10px;
    font-size: 30px;
    color: #fff;
    text-decoration: none;
    border: 2px solid #fff;
    border-radius: 10px;
  }

  .cta-register__btn:hover {
    color: #ff9649;
    border: 2px solid #ff9649;
    border-radius: 10px;
    padding: 10px;
  }

  /* Games Page */

  .genre-title {
    position: absolute;
    top: 200px;
    left: 50%;
    text-transform: uppercase;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: underline #ff9649;
  }

  .genre-list {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: absolute;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    text-decoration: ;
    top: 300px;
    height: 500px;
    width: 400px;
  }

  .genre-list a {
    text-decoration: none;
    color: #262626;
    text-transform: uppercase;
    text-align: center;
  }

  .genre-list a:hover {
    color: #ff9649;
  }

  #genre-list__acitve {
    text-decoration: underline #ff9649;
  }

  .product__list {
    min-height: 900px;
    max-width: 1000px;
    display: grid;
    grid-template-columns: 20% 20% 20%;
    justify-content: space-evenly;
    position: relative;
    left: 300px;
    top: 300px;
    text-align: center;
  }
  .game {
    margin: 20px 0;
  }
  .product__list img {
    max-width: 150px;
  }

  .content-container {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    left: 300px;
    top: 300px;
    max-width: 900px;
    justify-content: space-evenly;
  }

  .content-title {
    max-width: 200px;
    max-height: 50px;
    overflow: hidden;
    margin-bottom: 20px;
    font-size: 20px;
  }

  .content-result {
    margin: 20px 20px 20px 20px;
  }

  .content-result img {
    width: 200px;
    height: 100px;
  }

  /* Contact */

  .contact-us {
    position: relative;
    top: 250px;
    left: 100px;
    font-size: 25px;
  }

  .contact-us p {
    margin: 40px 0;
  }

  .contact-us h1,
  h2 {
    text-transform: uppercase;
    text-decoration: underline #ff9649;
    color: #262626;
  }
  .contact-us h2 {
    font-size: 20px;
  }

  .contact-us img {
    max-height: 300px;
  }

  .map {
    position: absolute;
    top: 300px;
    left: 800px;
  }

  .pointer {
    position: absolute;
    top: 100px;
    left: 250px;
  }

  /* Login */

  .login__window {
    position: relative;
    top: 200px;
    display: flex;
    flex-direction: column;
    height: 600px;
    max-width: 500px;
    margin: auto;
    background: #262626;
    border: none;
    text-decoration: underline #ff9649;
  }

  .login__title {
    position: relative;
    top: 40px;
    font-size: 35px;
    color: #ff9649;
    text-transform: uppercase;
    margin: auto;
  }

  .login__password {
    position: relative;
    top: 110px;
    left: 20px;
    width: 350px;
    color: #ff9649;
    text-decoration: underline #ff9649;
    text-transform: uppercase;
  }

  .login__password__box {
    position: relative;
    top: 120px;
    left: 70px;
    width: 350px;
    font-size: 20px;
    border-radius: 10px;
    border: none;
    height: 40px;
  }

  .login__email__box {
    position: relative;
    top: 60px;
    left: 70px;
    width: 350px;
    height: 40px;
    font-size: 20px;
    border-radius: 10px;
    border: none;
  }
  .login__email {
    position: relative;
    top: 60px;
    left: 20px;
    height: 30px;
    width: 350px;
    color: #ff9649;
    text-decoration: underline #ff9649;
    text-transform: uppercase;
  }
  .cta-login {
    position: relative;
    top: 170px;
    margin: 0 auto;
    padding: 10px 50px;
    border: none;
    border-radius: 10px;
    background: #ff9649;
    color: #262626;
    text-decoration: none;
    font-size: 25px;
    text-transform: uppercase;
  }

  .cta-login:hover {
    border: 3px solid #ff9649;
    background: #262626;
    color: #ff9649;
  }

  .register__now {
    position: relative;
    top: 230px;
    margin: 0 auto;
    text-transform: uppercase;
    color: #ff9649;
    font-size: 20px;
    text-align: center;
  }

  .register__now a {
    position: relative;
    top: 30px;
    background: #ff9649;
    padding: 10px 50px;
    border: none;
    border-radius: 10px;
    text-decoration: none;
    color: #262626;
  }

  .register__now a:hover {
    border: 3px solid #ff9649;
    background: #262626;
    color: #ff9649;
  }

  /* Account page */

  .user-info {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 500px;
    justify-content: space-between;
    align-items: center;
    top: 200px;
    text-align: center;
  }

  .lvl-txt {
    margin-top: 50px;
  }

  .lvl-bar {
    position: relative;
    height: 50px;
    max-width: 400px;
    width: 100%;
    background-color: #90ee90;
    border: 2px solid #262626;
    border-radius: 20px;
  }

  .cta-account {
    position: relative;
    top: 100px;
  }

  .cta-account a {
    margin: 0 50px;
    text-decoration: none;
    background-color: #262626;
    font-size: 20px;
    color: #fff;
    padding: 15px 40px;
    border-radius: 10px;
  }

  .cta-account a:hover {
    background-color: #fff;
    border: 3px solid #ff9649;
    color: #262626;
  }

  /* Selling game information*/

  .game-information {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 200px;
    left: 300px;
    width: 500px;
    height: 600px;
    justify-content: space-evenly;
  }

  .game-information h1 {
    font-size: 35px;
    text-transform: uppercase;
    text-decoration: underline #ff9649;
  }

  .info-bar {
    height: 30px;
    font-size: 25px;
    padding: 0 20px;
    border-radius: 10px;
  }

  .highlight {
    font-weight: bold;
    font-size: 25px;
  }

  .state-label {
    display: flex;
    width: 300px;
    justify-content: space-evenly;
    text-transform: uppercase;
  }

  .cta-submit {
    margin: 30px auto;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 25px;
    background-color: #262626;
    color: #fff;
    padding: 15px 40px;
    border-radius: 10px;
  }

  .cta-submit:hover {
    background-color: #fff;
    border: 3px solid #ff9649;
    color: #262626;
  }

  .product-game {
    position: relative;
    top: 200px;
    left: 200px;
  }

  .product-info h1 {
    margin: 20px;
    text-transform: uppercase;
    text-decoration: underline #ff9649;
  }

  .product-img {
    height: 400px;
  }

  .product-info {
    width: 300px;
    position: relative;
    left: 700px;
    top: -200px;
  }

  .added {
    opacity: 0;
    position: fixed;
    top: 150px;
    left: 1200px;
    background: #262626;
    color: #fff;
    height: 100px;
    width: 300px;
    transition: opacity 0.4s;
  }
  .added p {
    position: relative;
    top: 40px;
    left: 40px;
  }

  .flex-cta {
    position: relative;
    top: 30px;
  }

  .add2cart-style {
    position: relative;
    top: 10px;
    margin: 30px auto;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 25px;
    background-color: #262626;
    color: #fff;
    padding: 15px 40px;
    border-radius: 10px;
    display: flex;
  }

  #add2cart {
    display: none;
  }

  #add2cart:checked ~ .added {
    opacity: 1;
  }

  /* Sold item */
  .thank-you-for-selling {
    position: relative;
    top: 200px;
    left: 40px;
    width: 800px;
    height: 500px;
  }

  .thank-you-for-selling p {
    margin: 60px 0;
  }

  /* Checkout Information */

  .checkout-info {
    position: relative;
    top: 300px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 400px;
    justify-content: space-evenly;
  }

  .checkout-info a {
    margin: 40px auto;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 25px;
    background-color: #262626;
    color: #fff;
    padding: 15px 40px;
    border-radius: 10px;
  }

  .checkout-info a:hover {
    background-color: #fff;
    border: 3px solid #ff9649;
    color: #262626;
  }

  .products-in-cart {
    position: fixed;
    top: 120px;
    color: #fff;
    background: #262626;
    height: 900px;
    width: 400px;
    text-align: center;
  }
  .products-in-cart h2 {
    color: #fff;
    text-align: center;
    margin-bottom: 50px;
  }

  .total {
    margin-top: 70px;
    text-transform: uppercase;
  }
}

/* Header and navigation */
#active__site {
  text-decoration: underline 2px #ff9649;
}

.main-header {
  position: fixed;
  display: flex;
  align-items: center;
  height: 120px;
  width: 100vw;
  padding: 0 10vw;
  color: #fff;
  z-index: 1;
  background-color: #262626;
}

.main-header a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
}

.nav-links {
  display: flex;
  list-style: none;
}

.nav-link a {
  margin: 70px;
  font-size: 20px;
}

.nav-link a:hover {
  color: #ff9649;
}

.menu-icon {
  position: relative;
  left: 130px;
  top: -35px;
  padding: 26px 10px;
  cursor: pointer;
  z-index: 1;
}

.menu-icon__line {
  display: block;
  position: relative;
  background: #fff;
  height: 2px;
  width: 20px;
  border-radius: 4px;
}

.menu-icon__line::before,
.menu-icon__line::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 4px;
  background: #fff;
}

.menu-icon__line::before {
  transform: translateY(-5px);
}

.menu-icon__line::after {
  transform: translateY(5px);
}

.menu-btn {
  display: none;
}

.logo img {
  height: 100px;
}

.header-img {
  position: relative;
  top: 150px;
  text-align: center;
  font-size: 15px;
  text-transform: uppercase;
}

footer {
  background: #262626;
  height: 80px;
  position: relative;
  top: 500px;
}

.account-footer {
  position: relative;
  top: 800px;
}

/* Register */

.register-complete {
  position: relative;
  top: 200px;
  align-items: center;
  text-align: center;
}

.register {
  position: relative;
  top: 200px;
  display: flex;
  flex-direction: column;
  height: 600px;
  max-width: 500px;
  margin: auto;
  background: #262626;
  border: none;
  text-decoration: underline #ff9649;
}

.form-error {
  display: none;
}

.register-password {
  position: relative;
  left: 20px;
  width: 350px;
  color: #ff9649;
  text-decoration: underline #ff9649;
  text-transform: uppercase;
}

.register-email {
  position: relative;
  top: -100px;
  left: 20px;
  height: 30px;
  width: 350px;
  color: #ff9649;
  text-decoration: underline #ff9649;
  text-transform: uppercase;
}

.register-title {
  position: relative;
  top: -150px;
  margin: auto;
  font-size: 35px;
  text-transform: uppercase;
  color: #ff9649;
}

.register-password__box {
  width: 350px;
  font-size: 20px;
  border: none;
  border-radius: 10px;
  height: 40px;
  margin-top: 20px;
}

.register-email__box {
  position: relative;
  top: 60px;
  left: -110px;
  width: 350px;
  font-size: 20px;
  border: none;
  border-radius: 10px;
  height: 40px;
  margin-top: 20px;
  font-size: 20px;
}

.form-error {
  color: red;
}

.validation {
  color: green;
  font-size: 30px;
  margin: auto;
}
